@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #f75531;
  --secondary: #555555;
  --medium-neutral: #2c2c2c;
  --light-neutral: #b0b0b0;
  --success-color: #4caf50;
}

@theme inline {
  --primary: #f75531;
  --secondary: #555555;
  --medium-neutral: #2c2c2c;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}